<html>
<head></head>
<body>
<div style="text-align: center; ">
<%= form_tag sessions_path do %>
      <!--login modal-->
<div align="center">
          <div class="modal-content" aligne="center" style="  border: 2px solid black;width:400px;margin-top:40px">
            <div class="modal-header" style="align-content: center; text-align: center;">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h1 class="text-center">Login</h1>
            </div>
            <div class="modal-body" style="align-content: center; text-align: center;">
              <form class="form col-md-12 center-block" style="align-content: center; text-align: center; align-items: center">
                <div class="form-group" style="align-content: center; text-align: center;">
                  <%= label_tag (t "user.email") %>  <%= text_field_tag :email, params[:email] %>
                </div>
                <div class="form-group" style="align-content: center; text-align: center;">
                  <%= label_tag (t "user.password") %>  <%= password_field_tag :password %>
                </div>
                <div class="form-group"style="align-content: center; text-align: center;">
                  <button class="btn "style="align-content: center; text-align: center;">Prijava <a style="visibility: hidden" <%= submit_tag (t "nav.login") %>  /a></button>
                </div>
              </form>
            </div>
            <div class="modal-footer" style="border-top: 0px;align-content: center; text-align: center;"" >
              <div class="col-md-12">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
              </div>
            </div>
          </div>
      </div>
      <p> </p>

  <% end %>

  <footer>
    <div class="container">
      <section class="footer_left">
        <h3>Contact information:
          <span>Lorem ipsum dolor sit amet</span>
          <span>Lorem ipsum dolor sit amet</span>
        </h3>
      </section>

      <section class="footer_left">
        <h3>Website:
          <span>Lorem ipsum dolor sit amet</span>
          <span>Lorem ipsum dolor sit amet</span>
        </h3>
      </section>


      <aside class="footer_left">
        <h3>Lorem ipsum:
          <span>Lorem ipsum dolor sit amet</span>
          <span>Lorem ipsum dolor sit amet</span>
        </h3>
      </aside>
      <img src="assets/contact-us.png" width="240" height="230" alt="contact" class="picture_footer"/>


      <div id="FooterTwo"> © 2014 	Berza poslova </div>
      <div id="FooterTree"> Valid html5  - creative simplicity</a> </div>
    </div>
  </footer>
</body>
</html>

