<div style="text-align: center">
  <h1>Log in</h1>
<%= form_tag sessions_path do %>

      <%= label_tag :email %>  <%= text_field_tag :email, params[:email] %>


      <%= label_tag :password %>  <%= password_field_tag :password %>


    <p> <%= submit_tag "Log in" %></p>

<% end %>
  <footer>
    <div class="container">
      <section class="footer_left">
        <h3>Contact information:
          <span>Lorem ipsum dolor sit amet</span>
          <span>Lorem ipsum dolor sit amet</span>
        </h3>
      </section>

      <section class="footer_left">
        <h3>Website:
          <span>Lorem ipsum dolor sit amet</span>
          <span>Lorem ipsum dolor sit amet</span>
        </h3>
      </section>


      <aside class="footer_left">
        <h3>Lorem ipsum:
          <span>Lorem ipsum dolor sit amet</span>
          <span>Lorem ipsum dolor sit amet</span>
        </h3>
      </aside>
      <img src="assets/contact-us.png" width="240" height="230" alt="contact" class="picture_footer"/>


      <div id="FooterTwo"> © 2014 	Berza poslova </div>
      <div id="FooterTree"> Valid html5  - creative simplicity</a> </div>
    </div>
  </footer>
</div>