<p id="notice"><%= notice %></p>

<p>
  <strong><% (t "user.username")%></strong>
  <%= @admin.username %>
</p>

<p>
  <strong><% (t "user.password")%></strong>
  <%= @admin.password %>
</p>

<p>
  <strong><% (t "user.email")%></strong>
  <%= @admin.email %>
</p>

<%= link_to (t "edit"), edit_admin_path(@admin) %> |
<%= link_to ( t "back"), admins_path %>
