
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Svi korisnici</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
</head>

<body>

<div id="wrapper">

<!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Berza poslova</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-font"></i> Jezik <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="?locale=bs#" data-no-turbolink="true">Bosanski</a></li>
            <li><a href="?locale=en#" data-no-turbolink="true">Engleski</a></li>
            <li><a href="?locale=hr#" data-no-turbolink="true">Hrvatski</a></li>
          </ul>
        </li>
        <li class="active"><%= link_to (t "nav.home"),home_index_path %></li>
        <li><%= link_to (t "nav.about"),home_about_path %></li>
        <li><%= link_to (t "nav.contact"), home_contact_path%></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Lokacije <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sve lokacije </a></li>
            <li><a href="#">Sarajevo </a></li>
            <li><a href="#">Banja Luka</a></li>
            <li><a href="#">Mostar</a></li>
            <li><a href="#">Zenica</a></li>
            <li><a href="#">Tuzla</a></li>
            <li><a href="#">Bihać</a></li>
            <li><a href="#">Travnik</a></li>
            <li><a href="#">Zavidovići</a></li>
            <li><a href="#">Brčko</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Kategorije <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Administrativne usluge </a></li>
            <li><a href="#">Bankarstvo </a></li>
            <li><a href="#">Biotehnologija i farmacija</a></li>
            <li><a href="#">Drvna industrija</a></li>
            <li><a href="#">Državna služba i uprava</a></li>
            <li><a href="#">Ekonomija i finansije </a></li>
            <li><a href="#">Elektrotehnika i informatika </a></li>
            <li><a href="#">Energetika i rudarstvo</a></li>
            <li><a href="#">Frizeri i kozmetičari </a></li>
            <li><a href="#">Geologija</a></li>
            <li><a href="#">Građevinarstvo i arhitektura </a></li>
            <li><a href="#">Komercijala i prodaja</a></li>
            <li><a href="#">Konsalting</a></li>
            <li><a href="#">Marketing i PR</a></li>
            <li><a href="#">Mašinstvo i metalurgija </a></li>
            <li><a href="#">Mediji </a>
            <li><a href="#">Menadžment i upravljanje </a></li>
            <li><a href="#">Obrazovanje, kultura i sport </a></li>
            <li><a href="#">Osiguranje </a></li>
            <li><a href="#">Ostalo</a></li>
            <li><a href="#">Policija i zaštitarske usluge</a></li>
            <li><a href="#">Političke nauke </a></li>
            <li><a href="#">Poljoprivreda i šumarstvo </a></li>
            <li><a href="#">Pravo i društvene nauke</a></li>
            <li><a href="#">Prevodilačke usluge </a></li>
            <li><a href="#">Proizvodnja</a></li>
            <li><a href="#">Računovodstvo i revizija</a></li>
            <li><a href="#">Socijalne usluge</a></li>
            <li><a href="#">Stipendije </a></li>
            <li><a href="#">Teleprodaja i telemarketing</a></li>
            <li><a href="#">Transport i skladištenje</a></li>
            <li><a href="#">Trgovina </a></li>
            <li><a href="#">Ugostiteljstvo i turizam </a></li>
            <li><a href="#">Umjetnost i dizajn</a></li>
            <li><a href="#">Zanatske usluge </a></li>
            <li><a href="#">Zdravstvo i medicina  </a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown messages-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> Messages <span class="badge">7</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">7 New Messages</li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name"><% current_user %></span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li class="message-preview">
              <a href="#">
                <span class="avatar"><img src="http://placehold.it/50x50"></span>
                <span class="name">John Smith:</span>
                <span class="message">Hey there, I wanted to ask you something...</span>
                <span class="time"><i class="fa fa-clock-o"></i> 4:34 PM</span>
              </a>
            </li>
            <li class="divider"></li>
            <li><a href="#">View Inbox <span class="badge">7</span></a></li>
          </ul>
        </li>
        <li class="dropdown alerts-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alerts <span class="badge">3</span> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Default <span class="label label-default">Default</span></a></li>
            <li><a href="#">Primary <span class="label label-primary">Primary</span></a></li>
            <li><a href="#">Success <span class="label label-success">Success</span></a></li>
            <li><a href="#">Info <span class="label label-info">Info</span></a></li>
            <li><a href="#">Warning <span class="label label-warning">Warning</span></a></li>
            <li><a href="#">Danger <span class="label label-danger">Danger</span></a></li>
            <li class="divider"></li>
            <li><a href="#">View All</a></li>
          </ul>
        </li>
        <li class="dropdown user-dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to (t "nav.profile"),current_user%></li>
            <li><a href="#"> <%= link_to (t "user.edit"), edit_user_path(current_user.id) %></a></li>
            <li class="divider"></li>
            <li><a href="#"></i> <%= link_to (t "nav.logout"), log_out_path %></a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>

<div id="page-wrapper">

<div class="row">
  <div class="col-lg-12">
    <h1>Svi korisnici <small> POSO.BA</small></h1>
    <ol class="breadcrumb">
      <li><a href="index.html"><i class="fa fa-dashboard"></i> Dashboard</a></li>
      <li class="active"><i class="fa fa-table"></i> Tables</li>
    </ol>
    <div class="alert alert-info alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
     Tabelarno prikazivanje svih korisnika. Moguće je svakog korisnika posebno prikazati, izmjeniti i obrisati.
    </div>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-6">
    <h2>Lista svih korisnika</h2>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
        <tr>
          <th>Name <i class="fa fa-sort"></i></th>
          <th>Last name <i class="fa fa-sort"></i></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        </thead>

        <tbody>
        <% @users.each do |user| %>
            <tr class="danger">
              <% if user.email != "admin@poso.ba"%>
                  <td><%= user.name %></td>
                  <td><%= user.last_name %></td>
                  <td><%= link_to (t "show"), user %></td>
                  <td><%= link_to ( t "edit"), edit_user_path(user) %></td>
                  <td><%= link_to (t "Destroy") , user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <%end%>
            </tr>
        <% end %>
        </tbody>
      </table>
      </table>
    </div>
  </div>
  <div class="col-lg-6">
    <h2>Napomene</h2>
    <p>Za sve nejasnoće obratite se  <a target="_blank" href="http://google.ba">Google-u</a>.</p>
  </div>
</div><!-- /.row -->

</div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="js/jquery-1.10.2.js"></script>
<script src="js/bootstrap.js"></script>

<!-- Page Specific Plugins -->
<script src="js/tablesorter/jquery.tablesorter.js"></script>
<script src="js/tablesorter/tables.js"></script>

</body>
</html>

<br>

<%= link_to (t "back"), home_index_path %>
<!-- <%= link_to (t "user.add"), new_user_path %> -->
