<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Dashboard - SB Admin</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="css/sb-admin.css" rel="stylesheet">
  <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
  <!-- Page Specific CSS -->
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
</head>

<body>
<div id="wrapper">

  <!-- Sidebar -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">Berza poslova</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav side-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Jezik <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="?locale=bs#" data-no-turbolink="true">Bosanski</a></li>
            <li><a href="?locale=en#" data-no-turbolink="true">Engleski</a></li>
            <li><a href="#">Hrvatski</a></li>
          </ul>
        </li>
        <li>  <%= link_to (t "nav.home"), home_index_path %> </li>
        <li>  <%= link_to (t "nav.about"), home_about_path %> </li>
        <li>  <%= link_to (t "nav.contact"), home_contact_path %> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Lokacije <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Sve lokacije </a></li>
            <li><a href="#">Sarajevo </a></li>
            <li><a href="#">Banja Luka</a></li>
            <li><a href="#">Mostar</a></li>
            <li><a href="#">Zenica</a></li>
            <li><a href="#">Tuzla</a></li>
            <li><a href="#">Bihać</a></li>
            <li><a href="#">Travnik</a></li>
            <li><a href="#">Zavidovići</a></li>
            <li><a href="#">Brčko</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-square-o-down"></i> Kategorije <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Administrativne usluge </a></li>
            <li><a href="#">Bankarstvo </a></li>
            <li><a href="#">Biotehnologija i farmacija</a></li>
            <li><a href="#">Drvna industrija</a></li>
            <li><a href="#">Državna služba i uprava</a></li>
            <li><a href="#">Ekonomija i finansije </a></li>
            <li><a href="#">Elektrotehnika i informatika </a></li>
            <li><a href="#">Energetika i rudarstvo</a></li>
            <li><a href="#">Frizeri i kozmetičari </a></li>
            <li><a href="#">Geologija</a></li>
            <li><a href="#">Građevinarstvo i arhitektura </a></li>
            <li><a href="#">Komercijala i prodaja</a></li>
            <li><a href="#">Konsalting</a></li>
            <li><a href="#">Marketing i PR</a></li>
            <li><a href="#">Mašinstvo i metalurgija </a></li>
            <li><a href="#">Mediji </a>
            <li><a href="#">Menadžment i upravljanje </a></li>
            <li><a href="#">Obrazovanje, kultura i sport </a></li>
            <li><a href="#">Osiguranje </a></li>
            <li><a href="#">Ostalo</a></li>
            <li><a href="#">Policija i zaštitarske usluge</a></li>
            <li><a href="#">Političke nauke </a></li>
            <li><a href="#">Poljoprivreda i šumarstvo </a></li>
            <li><a href="#">Pravo i društvene nauke</a></li>
            <li><a href="#">Prevodilačke usluge </a></li>
            <li><a href="#">Proizvodnja</a></li>
            <li><a href="#">Računovodstvo i revizija</a></li>
            <li><a href="#">Socijalne usluge</a></li>
            <li><a href="#">Stipendije </a></li>
            <li><a href="#">Teleprodaja i telemarketing</a></li>
            <li><a href="#">Transport i skladištenje</a></li>
            <li><a href="#">Trgovina </a></li>
            <li><a href="#">Ugostiteljstvo i turizam </a></li>
            <li><a href="#">Umjetnost i dizajn</a></li>
            <li><a href="#">Zanatske usluge </a></li>
            <li><a href="#">Zdravstvo i medicina  </a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right navbar-user">
        <li class="dropdown messages-dropdown">
          <a href="#" > <%= link_to (t "nav.register"),users_new_path %></b></a>
        </li>
        <li class="dropdown user-dropdown">
          <a href="#" > <%= link_to (t "nav.login"), log_in_path %></b></a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </nav>
  <div id="page-wrapper">
    <h1 align="center">Dobrodosao na poso ba</h1>
    <br>
    <br><br><br>
    <div class="row">
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-long-arrow-right"></i> Sing up</h3>
          </div>
          <div class="panel-body">

            <%= form_for @user do |f| %>
                <% if @user.errors.any? %>
                    <div class="error_messages">
                      <h2>Form is invalid</h2>
                      <ul>
                        <% for message in @user.errors.full_messages %>
                            <li><%= message %></li>
                        <% end %>
                      </ul>
                    </div>
                <% end %>
                <p>
                  <%= f.label (t "user.name") %><br />
                  <%= f.text_field :name %>
                </p>
                <p>
                  <%= f.label (t "user.lastname") %><br />
                  <%= f.text_field :last_name%>
                </p>

                <p>
                  <%= f.label (t "user.email") %><br />
                  <%= f.text_field :email %>
                </p>
                <p>
                  <%= f.label (t "user.password") %><br />
                  <%= f.password_field :password %>
                </p>
                <p>
                  <%= f.label ( t"user.potvrda") %><br />
                  <%= f.password_field :password_confirmation %>
                </p>
                <p>
                  <%= f.label (t "user.adress") %><br />
                  <%= f.text_field :adress %>
                </p>
                <p>
                  <%= f.label (t "user.phone")%><br />
                  <%= f.text_field :phone %>
                </p>

                <p class="button"><%= f.submit  (t "user.add")%></p>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-money"></i> Human authentification</h3>
          </div>
          <div class="panel-body">
            - <%= recaptcha_tags %>
          </div>
       </div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /#wrapper -->

</body>
</html>