<%= form_for(@advartisment) do |f| %>
  <% if @advartisment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@advartisment.errors.count, "error") %> prohibited this advartisment from being saved:</h2>

      <ul>
      <% @advartisment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label (t "title") %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label (t "description") %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label (t "published")%><br>
    <%= f.date_select :published %>
  </div>
  <div class="field">
    <%= f.label (t "expire") %><br>
    <%= f.date_select :expire  %>
  </div>

  <div class="field">
    <%= f.label (t "category") %><br>
    <%= f.text_field :category %>
  </div>
    <div class="field">
      <%= f.label :location %><br>
      <%= f.text_field :location %>
    </div>
  <div class="actions">
    <%= f.submit (t "advartisment.add")%>
  </div>
<% end %>
