<h1>Listing advartisments</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Published</th>
      <th>Expire</th>
     <!-- <th>Employer</th>
      <th>Category</th>-->
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @advartisments.each do |advartisment| %>
      <tr>
        <td><%= advartisment.title %></td>
        <td><%= advartisment.description %></td>
        <td><%= advartisment.published %></td>
        <td><%= advartisment.expire %></td>
        <td><%= link_to (t "show"), advartisment %></td>
        <!-- < <td><%= link_to (t "edit"), edit_advartisment_path(advartisment) %></td>-->
        <td><%= link_to ( t "destroy"), advartisment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to t("advartisment.new"), new_advartisment_path %>-->
