<p id="notice"><%= notice %></p>

<p>
  <strong><% (t "title")%></strong>
  <%= @advartisment.title %>
</p>

<p>
  <strong><% (t "description")%></strong>
  <%= @advartisment.description %>
</p>

<p>
  <strong><% (t "published")%></strong>
  <%= @advartisment.published %>
</p>

<p>
  <strong><% (t "expire")%></strong>
  <%= @advartisment.expire %>
</p>


<%= link_to (t "edit"), edit_advartisment_path(@advartisment) %> |
<%= link_to (t "back"), home_index_path %>
