<!DOCTYPE html>
<html>
<head>
  <title>BerzaPoslova</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>
<div id="user_nav" style="align-content: center">
  <% if current_user %>
      Logged in as <%= current_user.email %>.
      <%= link_to "Log out", log_out_path %>
      <% if current_user.email=="admin@poso.ba"%> |
          <%= link_to "Profile",current_user%> |
          <%= link_to 'New Employer', new_employer_path %> |
          <%= link_to "Employers", employers_path %> |
          <%= link_to "Users", users_path %>
      <%else%>
      <% @users=User.all%>
      <% @users.each do |user|%>
          <%if current_user.email==user.email %>
              <%= link_to "Profile",current_user%> |
              <%= link_to "Advartisment", advartisments_path %> |
              <%= link_to "CVs", cvs_path %>
              <%end%>
      <%end%>
          <%end%>

 <% elsif current_employer %>
      Logged in as <%= current_employer.email %>.
      <%= link_to "Log out", log_out_path %>
      <% @employers=Employer.all%>
      <% @employers.each do |employer| %>
          <%if current_employer.email==employer.email %>
              <%= link_to 'New Advartisments', new_advartisment_path %> |
              <%= link_to "Advartisments", advartisments_path %> |
              <%= link_to "Profile", current_employer %>
          <%end%>
      <%end%>

  <% else %>
      <%= link_to "Sign up", sign_up_path %> or
      <%= link_to "log in", log_in_path %>
  <% end %>
</div>


<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
</body>
</html>
