<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Berza Poslova</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <%= javascript_include_tag "https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js", "https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js" %>
  <![endif]-->

  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= link_to "Berza poslova", "#", :class => "navbar-brand" %>
      </div>
        <ul class="nav navbar-nav">
          <li><a class="linkovi" <%= link_to "Home", home_index_path %> ></a></li>
          <li><a class="linkovi" <%= link_to "About", home_about_path %> ></a></li>
          <li ><a class="linkovi" <%= link_to "Contact", home_contact_path %> ></a></li>
          <li><a  class="reg" style="  padding-left: 250px;" <%= link_to "Registration", users_new_path %> ></a></li>
          <li><a class="reg" <%= link_to "Log in", log_in_path %> ></a></li>

        </ul>
    </div>
  </div>

  <%= yield %>
  <div id="user_nav" style="align-content: center">
    <% if current_user %>
        Logged in as <%= current_user.email %>.
        <%= link_to "Log out", log_out_path %>
        <% if current_user.email=="admin@poso.ba"%> |
            <%= link_to "Profile",current_user%> |
            <%= link_to 'New Employer', new_employer_path %> |
            <%= link_to "Employers", employers_path %> |
            <%= link_to "Users", users_path %>
        <%else%>
            <% @users=User.all%>
            <% @users.each do |user|%>
                <%if current_user.email==user.email %>
                    <%= link_to "Profile",current_user%> |
                    <%= link_to "Advartisment", advartisments_path %> |
                    <%= link_to "CVs", cvs_path %>
                <%end%>
            <%end%>
        <%end%>

    <% elsif current_employer %>
        Logged in as <%= current_employer.email %>.
        <%= link_to "Log out", log_out_path %>
        <% @employers=Employer.all%>
        <% @employers.each do |employer| %>
            <%if current_employer.email==employer.email %>
                <%= link_to 'New Advartisments', new_advartisment_path %> |
                <%= link_to "Advartisments", advartisments_path %> |
                <%= link_to "Profile", current_employer %>
            <%end%>
        <%end%>

    <% else %>
        <%= link_to "Sign up", sign_up_path %> or
        <%= link_to "log in", log_in_path %>
    <% end %>
  </div>


  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, :class => "alert alert-#{ name == :error ? "danger" : "success" } alert-dismissable" do %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= msg %>
      <% end %>
    <% end %>

  </div>
</body>
</html>
